@page
@model IndexModel


<div class="container my-5 ">
    <div class="columns is-vcentered my-5">
        <div class="column is-8 is-offset-2 has-text-centered is-unselectable">
            <div class="card px-3 py-3 has-background-dark">
                <p class="is-size-3 has-text-white has-text-centered has-text-weight-semibold">
                    WELCOME TO KALEIDOSCOPE COLORIZATION
                </p>
            </div>
        </div>
    </div>

    <div class="columns is-vcentered my-3">
        <div class="column has-text-centered">
            <div class="card px-3 py-3 has-background-dark">
                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                    Choose the mode you want to use, to colorize your image.
                </p>
                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                    To choose mode, you can click on Colorizer in the upper-right corner of the screen or click on the
                    options below.
                </p>
                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                    Plain stands for model without fusion. Fusion stands for model with fusion.
                </p>
                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                    Double means doubling the model/models selection. Multi means multiple inputs (max 4).
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container my-3 ">

    <div class="columns is-vcentered">
        <div class="column is-size-4 is-4 has-text-centered">
            <div class="mt-3">
                <a asp-page="/Plain">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">Plain</p>
                    </div>
                </a>
            </div>

            <div class="mt-3">

                <a asp-page="/DoublePlain">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">DoublePlain</p>
                    </div>
                </a>
            </div>

            <div class="mt-3">

                <a asp-page="/PlainMulti">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">PlainMulti</p>
                    </div>
                </a>
            </div>


        </div>

        <div class="column is-size-4 is-4 has-text-centered">
            <div class="mt-3">

                <a asp-page="/Fusion">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">Fusion</p>
                    </div>
                </a>
            </div>

            <div class="mt-3">

                <a asp-page="/DoubleFusion">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">DoubleFusion</p>
                    </div>
                </a>


            </div>

            <div class="mt-3">

                <a asp-page="/FusionMulti">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">FusionMulti</p>
                    </div>
                </a>


            </div>

        </div>

        <div class="column is-size-4 is-4 has-text-centered">
            <div class="mt-3">

                <a asp-page="/PlainAndFusion">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">PlainAndFusion</p>
                    </div>
                </a>
            </div>

            <div class="mt-3">

                <a asp-page="/DoublePlainAndFusion">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">DoublePlainAndFusion</p>
                    </div>
                </a>
            </div>

            <div class="mt-3">

                <a asp-page="/PlainAndFusionMulti">
                    <div class="card px-3 py-3 has-background-dark">
                        <p class="has-text-white">PlainAndFusionMulti</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
