<!DOCTYPE html>
<html class="has-background-black-ter is-unselectable" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <title>Kaleidoscope Colorization</title>
    <link rel="icon" type="image/x-icon" href="/images/Logo/logo_2.png">
</head>

<body class="has-background-black-ter has-text-white-ter">

    <nav class="navbar is-dark" role="navigation" aria-label="dropdow navigation">
        <div class="navbar-brand">

            <a asp-page="/Index" class="navbar-item has-background-grey-darker is-size-2">
                <img src="~/images/Logo/logo_2.png" style="max-height: 70px" />
            </a>

            <a role="button" class="navbar-burger is-full" data-target="navMenu" aria-label="menu"
                aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div class="navbar-menu is-size-3 has-background-grey-darker" id="navMenu">
            <div class="navbar-end ">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-white-ter has-background-grey-darker">
                        Colorizer
                    </a>
                    
                    <div class="navbar-dropdown is-hidden-mobile is-size-5 is-boxed is-right has-background-grey-darker has-text-white-ter">

                        <a asp-page="Plain" class="navbar-item has-text-white-ter">Plain</a>

                        <a asp-page="DoublePlain" class="navbar-item has-text-white-ter">DoublePlain</a>

                        <a asp-page="PlainMulti" class="navbar-item has-text-white-ter">PlainMulti</a>

                        <div class="my-5"></div>
                        <a asp-page="Fusion" class="navbar-item has-text-white-ter">Fusion</a>

                        <a asp-page="DoubleFusion" class="navbar-item has-text-white-ter">DoubleFusion</a>

                        <a asp-page="FusionMulti" class="navbar-item has-text-white-ter">FusionMulti</a>

                        <div class="my-5"></div>

                        <a asp-page="PlainAndFusion" class="navbar-item has-text-white-ter">PlainAndFusion</a>

                        <a asp-page="DoublePlainAndFusion" class="navbar-item has-text-white-ter">DoublePlainAndFusion</a>

                        <a asp-page="PlainAndFusionMulti" class="navbar-item has-text-white-ter">PlainAndFusionMulti</a>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <div id="modal-js-example" class="modal has-text-centered">
        <div class="modal-background"></div>
        <div class="modal-content is-half">
            <div class="box has-background-dark has-text-white-ter">
                <p class="is-size-5">Processing...</p>
                <progress class="progress is-large is-info" max="100"></progress>
            </div>
        </div>
    </div>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
        crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>*@
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap-table.js" asp-append-version="true"></script>
    </environment>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>